*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:'Segoe UI', sans-serif;
}

body{
    background:#aa439c;
    background: linear-gradient(135deg, 
        #ffb88c 0%, 
        #ff8a80 35%, 
        #ff5e7e 65%, 
        #d16ba5 100%);
}

/* CONTENEDOR GENERAL */
.container{
    display:flex;
    min-height:100vh;
}

/* LADO IZQUIERDO (IMAGEN) */
.left{
    flex:1.3;
    width: 1500px;
    height: 930px;
    background:url("/img/imageninicio.png") center/cover no-repeat;
    
}

/* LADO DERECHO (FORMULARIO) */
.right{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#fabf9b;
    padding:40px;
}

/* CAJA FORMULARIO */
select{
    width:100%;
    padding:10px;
    margin:8px 0;
    border-radius:8px;
    border:1px solid #ccc;
    font-size:14px;
}

/* TITULO */
h2{
    text-align:center;
    color:#ffffff;
    margin-bottom:25px;
}

/* INPUTS */
input{
    width:100%;
    padding:14px;
    margin:12px 0;
    border-radius:10px;
    border:1px solid #ccc;
    font-size:14px;
}

input:focus{
    outline:none;
    border-color:#e63e70;
}

/* PASSWORD */
.password-container{
    position:relative;
}

.password-container input{
    padding-right:45px;
}

.password-container span{
    position:absolute;
    right:15px;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
    font-size:18px;
}

/* BOTONES */
button{
    width:100%;
    padding:14px;
    margin-top:15px;
    border:none;
    border-radius:30px;
    background:#ffffff 100%;
    color:#d16ba5;
    text-decoration: none;
    font-size:15px;
    cursor:pointer;
    transition:0.3s;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

button:hover{
    background:#f793b1;
}

.link{
    text-align:center;
    margin-top:15px;
}

.link a{
    text-decoration:none;
    color:#db4975;
    cursor:pointer;
    font-size:14px;
}

/* RESPONSIVE PARA CELULAR */
@media (max-width:900px){
    .container{
        flex-direction:column;
    }

    .left{
        height:250px;
    }
}