.busqueda{
text-align:center;
margin:30px;
}

.busqueda input{
width:60%;
max-width:400px;
padding:12px;
border-radius:25px;
border:none;
font-size:16px;
}

body{
    margin:0;
    font-family: Arial, sans-serif;
    background:#f8f8f8;
}

header{
    background:#ff4f81;
    color:white;
    padding:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav a{
    color:white;
    margin:0 10px;
    text-decoration:none;
    font-weight:bold;
}

.banner{
    background:linear-gradient(to right, #ff4f81, #ff8fab);
    color:white;
    text-align:center;
    padding:40px;
}

.categorias{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
margin:30px 0;
}

.categorias button{
background:white;
border:none;
padding:15px 40px;
border-radius:12px;
font-size:16px;
cursor:pointer;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
transition:0.3s;
}

.categorias button:hover{
background:#ff4d6d;
color:white;
transform:scale(1.05);
}

section{
    padding: 30px;
}

h2{
    margin-bottom:20px;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(150px,1fr));
    gap:15px;
}

.card{
    background:white;
    padding:20px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
    cursor:pointer;
}

.productos-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(220px,1fr));
    gap:20px;
}

.producto{
    background:white;
    padding:15px;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
    text-align:center;
}

.producto img{
    width:100%;
    border-radius:8px;
}

.producto button{
    background:#ff4f81;
    color:white;
    border:none;
    padding:10px;
    margin-top:10px;
    border-radius:8px;
    cursor:pointer;
}

.producto button:hover{
    background:#e43d6f;
}

input{
    width:100%;
    padding:10px;
    margin:10px 0;
    border-radius:8px;
    border:1px solid #ccc;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:15px;
}

